
@font-face {
    font-family: "bebas";
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "inter";
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
}


body {
    margin: 0;
    height: 150vh;
    background-color: #171b29;
    
}


.card{
    background-color: #121929;
    padding: 0rem 2rem;
    border-radius: 1rem;
    border: 1px solid #ff9f30;
}

.header{
    color: white;
    text-align: center;
    font-family: 'inter';
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 2rem;
}

.subheader{
    color: #899aad;
    text-align: center;
    font-family: 'inter';
    font-size: 1rem;
    margin-bottom: 2.5rem;
}

label{
    color: #899aad;
    font-family: 'inter';
}

input{
    background-color: #121929;
    border: 1px solid #899aad;
    border-radius: 5px;
    padding: 0.3rem 0;
    padding-left: 0.5rem;
}


input:focus {
    border: 2px solid #ff9f30 !important;
    outline: none;
}

.login{
    width: 100%;
    padding: 7px 0;
    text-align: center;
    background-color: #ff9f30;
    border-radius: 10px;
    font-family: 'inter';
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 0;
}

.login:hover{
    background-color: #fab15d;
}

hr{
color: #899aad;
}

.dont{
    color: #899aad;
    font-family: 'inter';
    font-size: 1rem;
    text-align: center;
}

.create a{
    color: #ff9f30;
    font-weight: 700;
    font-family: 'inter';
    text-decoration: none;
    font-size: 1rem;
}